accessify==0.3.1
asgiref==3.7.2
asttokens==2.0.8
attrs==23.2.0
autopep8==1.7.0
backcall==0.2.0
beautifulsoup4==4.12.3
blinker==1.6.2
certifi==2024.2.2
charset-normalizer==3.3.2
click==8.1.7
colorama==0.4.5
contourpy==1.0.5
cssselect==1.2.0
cycler==0.11.0
debugpy==1.6.3
decorator==5.1.1
Django==5.0.3
entrypoints==0.4
executing==1.1.0
expression==4.2.4
fastjsonschema==2.19.1
fenics-dijitso==2019.1.0
fenics-ffc==2019.1.0.post0
fenics-fiat==2019.1.0
fenics-ufl==2019.1.0
Flask==2.3.3
fonttools==4.37.4
greenlet==3.0.3
html2md==0.1.7
idna==3.6
ipykernel==6.16.0
ipython==8.5.0
itsdangerous==2.1.2
jedi==0.18.1
Jinja2==3.1.2
joblib==1.2.0
jsonschema==4.21.1
jsonschema-specifications==2023.12.1
jupyter_client==7.3.5
jupyter_core==5.7.2
kiwisolver==1.4.4
lxml==5.2.1
MarkupSafe==2.1.3
matplotlib==3.6.0
matplotlib-inline==0.1.6
md2ipynb==0.2.1
mpi4py==3.1.4
mpi4py-mpich==3.1.2
mpmath==1.2.1
nbformat==5.10.4
nest-asyncio==1.5.6
numpy==1.26.0
openmpi==0.0.1
packaging==21.3
pandas==1.5.2
pandasql==0.7.3
parso==0.8.3
pickleshare==0.7.5
Pillow==9.2.0
platformdirs==4.2.0
prompt-toolkit==3.0.31
psutil==5.9.2
psycopg2==2.9.9
pure-eval==0.2.2
pycodestyle==2.9.1
Pygments==2.13.0
pyparsing==3.0.9
PyQt6==6.6.1
PyQt6-Qt6==6.6.1
PyQt6-sip==13.6.0
pyquery==2.0.0
pyTelegramBotAPI==4.16.1
python-dateutil==2.8.2
pytz==2022.6
pywin32==304
pyzmq==24.0.1
referencing==0.34.0
requests==2.31.0
rpds-py==0.18.0
scikit-learn==1.1.2
scimpy==0.0.dev1
scipy==1.9.1
six==1.16.0
soupsieve==2.5
SQLAlchemy==1.4.46
sqlparse==0.4.4
stack-data==0.5.1
sympy==1.11.1
tabulate==0.8.10
threadpoolctl==3.1.0
toml==0.10.2
tornado==6.2
traitlets==5.4.0
typing_extensions==4.6.3
tzdata==2024.1
urllib3==2.2.0
wcwidth==0.2.5
Werkzeug==2.3.7
