{% extends 'base/base.html' %}

{% block content %}

    <h1>Список багов</h1>
    <!-- Ссылка на создание нового проекта -->
    <p><a href="{% url 'quality_control:create_bugreport' %}">Добавить ещё баг</a></p>
    <ul>
        {% for bug in bug_list %}
            <li><a href = "{% url 'quality_control:bug_detail' bug.id %}">{{ bug.title }}</a>, <a>{{ bug.status }}</a></li>
        {% endfor %}
    </ul>
{% endblock %}


<!-- <!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <title>Список багов</title>
</head>
<body>
    <h1>Список багов</h1>
    <ul>
        {% for bug in bug_list %}
            <li><a href = "{% url 'quality_control:bug_detail' bug.id %}">{{ bug.title }}</a>, <a>{{ bug.status }}</a></li>
        {% endfor %}
    </ul>
</body>
</html> -->



