{% extends 'base/base.html' %}

{% block content %}
    <h1>Список запросов на улучшение</h1>
    <!-- Ссылка на создание нового проекта -->
    <p><a href="{% url 'quality_control:create_featurerequest' %}">Добавить запрос на улучшение</a></p>
    <ul>
        {% for feature in feature_list %}
            <li><a href = "{% url 'quality_control:feature_id_detail' feature.id %}">{{ feature.title }}</a>, <a>{{ feature.status }}</a></li>
        {% endfor %}
    </ul>
{% endblock %}

<!-- <!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <title>Список запросов на улучшение</title>
</head>
<body>
    <h1>Список запросов на улучшение</h1>
    <ul>
        {% for feature in feature_list %}
            <li><a href = "{% url 'quality_control:feature_id_detail' feature.id %}">{{ feature.title }}</a>, <a>{{ feature.status }}</a></li>
        {% endfor %}
    </ul>
</body>
</html> -->


