{% extends 'base/base.html' %}

{% block content %}
        <h1>Система контроля качества</h1>
        <ul>
            <li><a href="{% url 'quality_control:bug_list' %}">Список всех багов</a></li>
            <li><a href="{% url 'quality_control:feature_list' %}">Запросы на улучшение</a></li>
            </ul>
{% endblock %}


<!-- <!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <title>Система контроля качества</title>
</head>
<body>
     <h1>Система контроля качества</h1>
     <ul>
     <li><a href="{% url 'quality_control:bug_list' %}">Список всех багов</a></li>
     <li><a href="{% url 'quality_control:feature_list' %}">Запросы на улучшение</a></li>
     </ul>
</body>
</html> -->

